
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1a1a1a;
            color: #e0e0e0;
        }

        header {
            background-color: #101010;
            color: #ffffff;
            padding: 1em 0;
            text-align: center;
        }

        h1 {
            font-size: 2.5em;
            margin: 0;
            letter-spacing: 2px;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #2b2b2b;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            text-align: center;
            border-radius: 15px;
        }

        section {
            margin-bottom: 30px;
        }

        section h2 {
            color: #ffffff;
            font-size: 2em;
            border-bottom: 2px solid #ffffff;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        section img {
            max-width: 200px;
            border-radius: 15px;
            margin-right: 15px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            float: left;
        }

        section div {
            overflow: hidden;
        }

        p {
            line-height: 1.6;
            color: #a0a0a0;
        }

        footer {
            background-color: #101010;
            color: #ffffff;
            padding: 1em 0;
            text-align: center;
            border-top: 2px solid #ffffff;
            margin-top: 30px;
            border-radius: 0 0 15px 15px;
        }
        
        /* Styles for the form */
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        label {
            margin: 10px 0 5px;
            width: 100%;
            max-width: 300px;
            text-align: left;
            font-weight: bold;
            color: #343a40;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 2px solid #343a40;
            border-radius: 5px;
            transition: border-color 0.3s ease-in-out;
        }

        input:focus,
        textarea:focus {
            border-color: #1a1a1a;
        }

        input[type="submit"] {
            background-color: #343a40;
            color: #ffffff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #1a1a1a;
        }