body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: #ededed;
    background: url('https://raw.githubusercontent.com/khiariyosri/LAST/wallpaperflare.com_wallpaper.jpg') no-repeat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 1;
    animation: SlideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 1;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('C:/Users/yosri/Desktop/cv2/photo-1530533718754-001d2668365a.avif') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    box-sizing: border-box;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 span {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 1;
    animation: SlideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 10px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.slide {
    display: flex;
    margin-top: 70px;
}

.slide img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
    margin-right: 20px; 
}

.slide:last-child img {
    margin-right: 0;
}

.slide:hover img {
    transform: scale(1.1) ;
}

.text {
    flex: 1;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide:hover .text {
    opacity: 1;
}

